<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";>
    <link rel="stylesheet" href="../editarperfil.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Perfil Mentorado</title>
</head>
<body>
   
    <div class="container">
        <div class="profile-container">
            <div class="img-container">
                <img src="" alt="profile image">
                <input type="file" id="image-upload" accept="image/*" style="display: none;">
            </div>

            <button class="go-back" onclick="redirectToAnotherPage()">
                <i class="fas fa-arrow-left"></i>
            </button>

            <button class="change-photo" id="change-photo-button">
            <i class="fas fa-camera"></i>
            </button>

            <button class="edit-name" id="edit-name-button">
                <i class="fas fa-pencil-alt"></i>  
            </button>

            <button class="save-button" id="save-button">
                Salvar
            </button>

            <p class="info full-name"></p>
            <p class="info role"><i class="fas fa-star"></i></p>
            <p class="info place"><i class="fas fa-map-marker-alt"></i></p>

            <div class="posts-info">
                <p><span>36</span> Sessões</p>
                <p><span>40</span> Match</p>
                <p><span>15</span> Skills</p>
            </div>

            <div class="social-container">
                <button class="youtube">
                    <i class="fab fa-youtube"></i>
                </button>
                <button class="linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </button>
                <button class="instagram">
                    <i class="fab fa-instagram"></i>
                </button>
                <button class="github">
                    <i class="fab fa-github"></i>
                </button>
            </div>

            <button class="action" onclick="togglePretensions()">Pretensões</button>

            <ul id="pretensions-list" class="hidden">
               <form method="post" action="/inserirPretensoes">
                <li>
                    <input type="checkbox" id="pretension1">
                    <label for="pretension1">Desenvolvimento WEB</label>
                   </li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li>
                    <input type="checkbox" id="pretension2">
                    <label for="pretension2">&nbsp;Data Science</label>
                </li>
                &nbsp;&nbsp;&nbsp;
                <li>
                    <input type="checkbox" id="pretension3">
                    <label for="pretension3">&nbsp;Cloud Computing</label>
                </li>
                &nbsp;&nbsp;&nbsp;
                <li>
                    <input type="checkbox" id="pretension4">
                    <label for="pretension3">&nbsp;Redes</label>
                </li>
                &nbsp;&nbsp;&nbsp;
               <li>
				   <input type="submit" value="Salvar Pretensões" class="button-pretensions">
				   
			   </li>
                
            </ul>
            
</form>	
        </div>
    </div>

    <script>/* Pretensões */

function togglePretensions() {
    const pretensionsList = document.getElementById('pretensions-list');
    pretensionsList.classList.toggle('visible');
}

/* Botão Voltar */

function redirectToAnotherPage() {
    window.location.href = "perfilMentorado";
}

/* Editar Informações */

function enableInfoEditing() {
    const fullNameElement = document.querySelector('.full-name');
    const roleElement = document.querySelector('.role');
    const placeElement = document.querySelector('.place');

    fullNameElement.contentEditable = true;
    roleElement.contentEditable = true;
    placeElement.contentEditable = true;

    fullNameElement.focus(); // Foca no elemento do nome para começar a edição
}

const editNameButton = document.getElementById('edit-name-button');
editNameButton.addEventListener('click', enableInfoEditing);

/* Adicionar Fotos */

function handleImageUpload() {
    const imageUpload = document.getElementById('image-upload');
    imageUpload.click(); // Aciona o input de upload de imagem
}

function handleImageChange(event) {
    const image = document.querySelector('.img-container img');
    const file = event.target.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            image.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}

const changePhotoButton = document.getElementById('change-photo-button');
changePhotoButton.addEventListener('click', handleImageUpload);

const imageUpload = document.getElementById('image-upload');
imageUpload.addEventListener('change', handleImageChange);

/* Função para converter a imagem para base64 */
function getBase64Image(img) {
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    canvas.width = img.width;
    canvas.height = img.height;
    ctx.drawImage(img, 0, 0);
    const dataURL = canvas.toDataURL('image/png');
    return dataURL.replace(/^data:image\/(png|jpg);base64,/, '');
}

/* Botão de Salvar Alterações */

// Adiciona um event listener para o botão "Salvar"
const saveButton = document.getElementById('save-button');
saveButton.addEventListener('click', saveAndRedirect);

// Função para salvar as informações e redirecionar
function saveAndRedirect() {
    console.log('Botão Salvar clicado.');

    const fullNameElement = document.querySelector('.full-name');
    const roleElement = document.querySelector('.role');
    const placeElement = document.querySelector('.place');
    const imageElement = document.querySelector('.img-container img');

    const updatedFullName = fullNameElement.textContent;
    const updatedRole = roleElement.textContent;
    const updatedPlace = placeElement.textContent;

    // Salvar a imagem em formato base64
    const imageBase64 = getBase64Image(imageElement);

    // Salvar as informações no localStorage
    localStorage.setItem('image', imageBase64);
    localStorage.setItem('fullName', updatedFullName);
    localStorage.setItem('role', updatedRole);
    localStorage.setItem('place', updatedPlace);

    // Atualizar informações diretamente na página editarperfil.html
    document.querySelector('.full-name').textContent = updatedFullName;
    document.querySelector('.role').textContent = updatedRole;
    document.querySelector('.place').textContent = updatedPlace;

    // Construindo a URL com os parâmetros atualizados
    const redirectURL = `/perfilMentorado?fullName=${encodeURIComponent(updatedFullName)}&role=${encodeURIComponent(updatedRole)}&place=${encodeURIComponent(updatedPlace)}`;

    // Armazenar os dados na sessionStorage para acessá-los no perfilmentorado.html
    sessionStorage.setItem('redirectURL', redirectURL);
    sessionStorage.setItem('imageBase64', imageBase64);

    // Redirecionar para o perfilmentorado.html
    window.location.href = 'perfilMentorado';
}

// Carregar informações do localStorage ao carregar a página
window.addEventListener('load', function () {
    const fullNameElement = document.querySelector('.full-name');
    const roleElement = document.querySelector('.role');
    const placeElement = document.querySelector('.place');
    const imageElement = document.querySelector('.img-container img');

    const storedFullName = localStorage.getItem('fullName');
    const storedRole = localStorage.getItem('role');
    const storedPlace = localStorage.getItem('place');
    const storedImageBase64 = localStorage.getItem('image');

    if (storedFullName) {
        fullNameElement.textContent = storedFullName;
    }
    if (storedRole) {
        roleElement.textContent = storedRole;
    }
    if (storedPlace) {
        placeElement.textContent = storedPlace;
    }
    if (storedImageBase64) {
        imageElement.src = `data:image/png;base64,${storedImageBase64}`;
    }
});</script>
</body>
</html>