<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encontrar - Mentor</title>
  
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'>
  <link rel="stylesheet" href="../css/encontrar.css">
  
  <!-- https://bytewebster.com/ -->
  <!-- https://bytewebster.com/ -->
  <!-- https://bytewebster.com/ -->
</head>
<body>
<section>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide--one">
        <span>Desenvolvedor Java</span>
        <div>
          <h2>Ivo Holanda</h2>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            Google
          </p>
        </div>
      </div>
      <div class="swiper-slide swiper-slide--two">
        <span>Scrum Master</span>
        <div>
          <h2>Luis Henrique</h2>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            Shopee
          </p>
        </div>
      </div>

      <div class="swiper-slide swiper-slide--three">
        <span>Data Engineer</span>
        <div>
          <h2>José Carlos</h2>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
         Facebook
          </p>
        </div>
      </div>

      <div class="swiper-slide swiper-slide--four">
        <span>Front-end | UI/UX</span>
        <div>
          <h2>Epaminondas Silva</h2>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            Havaianas
          </p>
        </div>
      </div>

      <div class="swiper-slide swiper-slide--five">
        <span>Product Owner</span>
        <div>
          <h2>João Cézar</h2>
          <p>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            Bradesco
          </p>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>


<footer>
  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-5 col-sm-5">
        <h4 class="text-light">Sobre Nós</h4>
        <p class="text-muted">"O aprendizado é a chave para o crescimento, e o crescimento é a porta para um futuro brilhante. Explore, aprenda e alcance o seu potencial ilimitado."</p>
        <p class="pt-4 text-muted">Copyright ©2019 Todos os direitos reservados | Este modelo é feito por ConnectMentor
          <span>Grupo Excelente Saber</span>
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <h4 class="text-light">Boletim de Notícias</h4>
        <p class="text-muted">Stay Updated</p>
        <form class="form-inline">
          <div class="col pl-0">
            <div class="input-group pr-5">
              <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="text-light">Siga-nos</h4>
        <p class="text-muted">Nossas redes sociais</p>
        <div class="column text-light">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
</footer>

  
  


<!-- scripts -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script>
<script  src="./encontrarMentor.js"></script>
</body>
</html>