<!DOCTYPE html>
<html lang="pt-br"

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css" />
<title>Connect Mentor</title>
</head>
	
<body>
	
	<p>CADASTRO ALUNO</p>
	
	<form method="post" action="/inserirMentorados">
	<label>Nome:</label>
	<input type="text" name="nome" id="nome"><br>
	<label>Pretensão: </label>
	<input type="checkbox" name="pretensao1" id="pretensao1"><br>
	<label>Pretensão: </label>
	<input type="checkbox" name="pretensao2" id="pretensao2"><br>
	</form>
	
	
</body>
	
	
	
</html>