<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ConnectMentor</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/Sttyle.css" />
  <link rel="stylesheet" href="mobile-style.css">
  <link rel="icon" href="assets/2.png" type="image/x-icon">
</head>

<body>
  <header>
    
    <div class="video">
          <video  muted autoplay loop width="100%" >
            <source src="assets/testeback3.mp4" type="video/mp4">
          </video>
        </div>
      
  
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index">
          <i class="tituloPag">ConnectMentor</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
        
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index" style="font-size: 20px;">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobre" style="font-size: 20px;">Sobre nós</a>
            </li>
             <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="#" class="nav-link" style="font-size: 20px;">Registrar-se</a>
                <div class="dropdown-content">
                  <a href="CadastroMentor">Mentor</a>
                  <a href="/mentorado/CadastroMentorado">Mentorado</a>
                  
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login" style="font-size: 20px;">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
<!--
          <h6>ConnectMentor</h6>
          
          <h1>Mentoria Personalizada</h1>
          
          <p>
            Guiando sua jornada no universo tecnológico: Mentorando para o sucesso em meio à inovação e à tecnologia.
          </p>
          
          <button class="btn btn-light px-5 py-2 primary-btn">
            <a href="#secao-saiba-mais">Saiba Mais</a>
          </button>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
          <img src="assets/img/Design sem nome (3).png" alt="Book" />
        </div>
      </div>
    </div>
    -->
  </header>
  
  <main>
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="../assets/pexels-photo-1904769.jpeg" alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left">
              <h1>Dr. Epaminondas </h1>
              <p class="pt-4">
                Trilhar o caminho na área de tecnologia pode ser desafiador, mas com a orientação certa, as possibilidades são infinitas. Como mentor, testemunhei os olhos dos mentees se iluminando diante dos conceitos complexos e das oportunidades emocionantes que a tecnologia oferece.
              </p>
              <p>
                Ver cada indivíduo crescer, aprender e finalmente conquistar seus objetivos é a verdadeira recompensa da mentoria. Junte-se a nós nessa jornada de descoberta e desenvolvimento, e vamos construir juntos o futuro tecnológico.
              </p>
            </div>
          </div>
        </div>
      </div>

      <br> <br> <br> <br> 

         
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="assets/cadi2.png" alt="Pray" class="" />
            </div>
          </div>
          <div id="secao-saiba-mais"></div>
          <div class="col-md-6 col-12">
            <div class="panel text-left content-block-1">
              <h1>O começo de uma jornada incrível.</h1>
              
              <p class="pt-4">
                1. Faça o seu cadastro no ConnectMentor. É rápido e gratuito.
              </p>
              <p>
                Ver cada indivíduo crescer, aprender e finalmente conquistar seus objetivos é a verdadeira recompensa da mentoria.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <br> <br> <br> <br> 
      
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="assets/cadi6.png" alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left content-block-2">
              <h1>Encontrando as oportunidades para voar.</h1>
              <p class="pt-4">
                2. Encontre um Mentor ou Mentorado
                Navegue pelos perfis de mentores e mentees e encontre a correspondência perfeita para você.
              </p>
              <p>
               
              </p>
            </div>
          </div>
        </div>
      </div>
      

      <br> <br> <br> <br> <br> 
      
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="assets/cadi7.png" alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left content-block-2">
              <h1>Desenvolvendo o seu futuro profissional.</h1>
              <p class="pt-4">
                3. Inicie sua Jornada de Aprendizado
Conecte-se com seu mentor ou mentee e comece a colaborar para alcançar seus objetivos de aprendizado.
              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
      
      



      
      
        </section>

        <!-- Você pode adicionar mais seções conforme necessário -->

    </div>





    </section>
    <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>Algumas características que nos tornaram únicos</h1>
          <p>
            Dados mostram números, informações mostram resultados.
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>2345</h1>
            <p>Mentores</p>
          </div>
          <div class="rect">
            <h1>6784</h1>
            <p>Mentorados</p>
          </div>
          <div class="rect">
            <h1>9876</h1>
            <p>Matchs</p>
          </div>
          <div class="rect">
            <h1>18345</h1>
            <p>Sessões realizadas</p>
          </div>
        </div>
      </div>


      <div class="purchase text-center">
        <h1>Comece sua experiência com o nossos serviços hoje!</h1>
        <p>
          Realize o seu primeiro match, sendo mentor ou mentorado...
        </p>
        
        <img src="assets/Match (3).png" alt="Imagem Mentor e Mentorado em icones" width="1000px" class="imgMentor">

        <!-- começo da sessão mentores-->
        <section class="section-4">
          <div class="container text-center">
            <h1 class="text-dark">Aprenda com os melhores especialistas do mercado</h1>
            <p class="text-secondary">Convidamos profissionais reconhecidos e de empresas renomadas para participar da criação de nossos cursos. Ensinamos conforme os desejos e as necessidades do mercado.</p>
          </div>
          <div class="team row ">
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                      <img src="assets/tigas.png" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Thiago Penaforte</h3>
                      <p class="card-text">
                        CTO(Chief Technology Officer)<br>
                        20 anos de experiência em tecnologia.
                      </p>
                      <a href="#" class="text-secondary text-decoration-none">Excelente Saber</a>
                      <p class="text-black-50">Técnico DS</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner text-center">
                      <div class="carousel-item active">
                        <div class="card mr-2 d-inline-block shadow">
                          <div class="card-img-top">
                            <img src="assets/Captura de tela 2023-08-19 123648.png" class="img-fluid rounded-circle w-50 p-4" alt="">
                          </div>
                          <div class="card-body">
                            <h3 class="card-title">Guilherme Ádonario</h3>
                            <p class="card-text">
                              Scrum Master<br>
                              15 anos de experiência em gestão de equipes em tecnologia.
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Excelente Saber</a>
                            <p class="text-black-50">Técnico DS</p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card  d-inline-block mr-2 shadow">
                          <div class="card-img-top">
                            <img src="assets/portrait-4568762_640.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                          </div>
                          <div class="card-body">
                            <h3 class="card-title">Epaminondas Jr</h3>
                            <p class="card-text">
                              CEO(Chief Executtive Office)
                              40 anos de experiência em direção de empresas de tecnologia.
                            </p>
                            <a href="#" class="text-secondary text-decoration-none">Excelente Saber</a>
                            <p class="text-black-50">Técnico DS</p>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <div class="card mr-2 d-inline-block shadow-lg">
                    <div class="card-img-top">
                      <img src="assets/rachel-pimentel-30-editar.png" class="img-fluid border-radius p-4" alt="">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">Marta Mello</h3>
                      <p class="card-text">
                        Head of Technology<br>
                        Lider em tecnologia, Inovação e liderança de equipes.
                      </p>
                      <a href="#" class="text-secondary text-decoration-none">Excelente Saber</a>
                      <p class="text-black-50">Técnico DS</p>
                    </div>
                  </div>
            </div>
          </div>
        </section>
        
<!-- fim da sesão mentores-->


        <div class="cards">
          <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Mentor</h5>
                </div>
                <p class="card-text">
                  Seja um mentor, e ajude outras pessoas a decolarem.<br>
                </p>
                <div class="pricing">
                  <h1>Faça isso gerando uma renda extra.</h1>
                  <a href="CadastroMentor" class="btn btn-dark px-5 py-2 primary-btn mb-5">Registrar-se</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Mentorado</h5>
                </div>
                <p class="card-text">
                  Turbine sua carreira com ajuda de um especialista em tecnologia.
                </p>
                <div class="pricing">
                  <h1>Mentoria personalizada e exclusiva.</h1>
                  <a href="mentorado/CadastroMentorado" class="btn btn-dark px-5 py-2 primary-btn mb-5">Registar-se</a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="title">
                  <h5 class="card-title">Saiba Mais</h5>
                </div>
                <p class="card-text">
                 Conheça um pouco sobre nós, e descubra o seu potencial juntamente com a ConnectMentor.
                </p>
                <div class="pricing">
                  <h1>Sobre nós ConnectMentor</h1>
                  <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Conheça já</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>Plataforma Web e Aplicativo Mobile</h1>
          <p>
            Em breve em todas plataformas digitais.
          </p>
        </div>
      </div>
      <div class="platform row">
        <div class="col-md-6 col-sm-12 text-right">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Desktop</h3>
                <p class="p-0 m-0">Plataforma Web</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 text-left">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
              <div class="text text-left">
                <h3 class="pt-1 m-0">Mobile</h3>
                <p class="p-0 m-0">Play Store e App Store</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Grupo Excelente Saber</h1>
        <p class="text-secondary">Profissionais responsáveis pela ConnectMentor.</p>
      </div>
      <div class="team row ">
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="assets/UI-face-3.png" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Moisés Bonfim</h3>
                  <p class="card-text">
                    Fundador do Grupo Excelente Saber
                  </p>
                  <a href="#" class="text-secondary text-decoration-none">Grupo Excelente Saber</a>
                  <p class="text-black-50">Técnico DS</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center">
                  <div class="carousel-item active">
                    <div class="card mr-2 d-inline-block shadow">
                      <div class="card-img-top">
                        <img src="assets/UI-face-1.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Felipe Senna</h3>
                        <p class="card-text">
                          Fundador do Grupo Excelente Saber
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Grupo Excelente Saber</a>
                        <p class="text-black-50">Técnico DS</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card  d-inline-block mr-2 shadow">
                      <div class="card-img-top">
                        <img src="assets/UI-face-2.jpg" class="img-fluid rounded-circle w-50 p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">E o Menino Lindo</h3>
                        <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda
                          minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                        </p>
                        <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                        <p class="text-black-50">CEO at Google</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>
        <div class="col-md-4 col-12 text-center">
            <div class="card mr-2 d-inline-block shadow-lg">
                <div class="card-img-top">
                  <img src="../assets/UI-face-4.jpg" class="img-fluid border-radius p-4" alt="">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Renato da Graça</h3>
                  <p class="card-text">
                    Fundador do Grupo Excelente Saber
                  </p>
                  <a href="#" class="text-secondary text-decoration-none">Grupo Excelente Saber</a>
                  <p class="text-black-50">Técnico DS</p>
                </div>
              </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">Sobre Nós</h4>
          <p class="text-muted">"O aprendizado é a chave para o crescimento, e o crescimento é a porta para um futuro brilhante. Explore, aprenda e alcance o seu potencial ilimitado."</p>
          <p class="pt-4 text-muted">Copyright ©2019 Todos os direitos reservados | Este modelo é feito por ConnectMentor
            <span>Grupo Excelente Saber</span>
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Boletim de Notícias</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Siga-nos</h4>
          <p class="text-muted">Nossas redes sociais</p>
          <div class="column text-light">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
  
</body>

</html>