<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="../css/stylementorado.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<title>Perfil Mentorado</title>
</head>
<body>
	<!--
	<video autoplay loop muted poster="video-poster.jpg" id="background-video">
        <source src="../assets/ConnectMentory.mp4" type="video/mp4">
        <!-- Adicione outros formatos de vídeo, como WebM e Ogg, se desejar suporte cruzado 
        Seu navegador não suporta vídeo HTML5.
    </video>
	-->
<a href="/index" class="voltar-topo">
<i class="fas fa-arrow-left"></i>
</a>

<div class="container">
<div class="profile-container">
<div class="img-container">
<img src="" alt="profile image">
</div>

<button class="change-photo" onclick="redirectToAnotherPage()">
<i class="fas fa-pencil-alt"></i>
</button>

<p class="info full-name"></p>
<p class="info role"><i class="fas fa-star"></i></p>
<p class="info place"><i class="fas fa-map-marker-alt"></i></p>

<div class="posts-info">
<p><span>36</span> Sessões</p>
<p><span>40</span> Match</p>
<p><span>15</span> Skills</p>
</div>

<div class "social-container">
<button class="youtube">
<i class="fab fa-youtube"></i>
</button>
<button class="linkedin">
<i class="fab fa-linkedin-in"></i>
</button>
<button class="instagram">
<i class="fab fa-instagram"></i>
</button>
<button class="github">
<i class="fab fa-github"></i>
</button>
</div>

<button class="action message">Buscar Mentor</button>

</div>
</div>

<script>
	
	
	function redirectToAnotherPage() {
    window.location.href = "editarperfil";
}

//Salvar Alterações
// Função para carregar informações do localStorage
function loadProfileInfo() {
    const fullNameElement = document.querySelector('.full-name');
    const roleElement = document.querySelector('.role');
    const placeElement = document.querySelector('.place');
    const profileImage = document.querySelector('.img-container img');

    const storedFullName = localStorage.getItem('fullName');
    const storedRole = localStorage.getItem('role');
    const storedPlace = localStorage.getItem('place');
    const storedImageBase64 = localStorage.getItem('image');

    if (storedFullName) {
        fullNameElement.textContent = storedFullName;
    }

    if (storedRole) {
        roleElement.innerHTML = `<i class="fas fa-star"></i>${storedRole}`;
    }

    if (storedPlace) {
        placeElement.innerHTML = `<i class="fas fa-map-marker-alt"></i>${storedPlace}`;
    }

    if (storedImageBase64) {
        profileImage.src = `data:image/png;base64,${storedImageBase64}`;
    }
}

// Chamar a função para carregar as informações
loadProfileInfo();


/* Botão Editar */

function redirectToAnotherPage() {
    window.location.href = "editarperfil";
}

//Salvar Alterações
// Função para carregar informações do localStorage
function loadProfileInfo() {
    const fullNameElement = document.querySelector('.full-name');
    const roleElement = document.querySelector('.role');
    const placeElement = document.querySelector('.place');
    const profileImage = document.querySelector('.img-container img');

    const storedFullName = localStorage.getItem('fullName');
    const storedRole = localStorage.getItem('role');
    const storedPlace = localStorage.getItem('place');
    const storedImageBase64 = localStorage.getItem('image');

    if (storedFullName) {
        fullNameElement.textContent = storedFullName;
    }

    if (storedRole) {
        roleElement.innerHTML = `<i class="fas fa-star"></i>${storedRole}`;
    }

    if (storedPlace) {
        placeElement.innerHTML = `<i class="fas fa-map-marker-alt"></i>${storedPlace}`;
    }

    if (storedImageBase64) {
        profileImage.src = `data:image/png;base64,${storedImageBase64}`;
    }
}

// Chamar a função para carregar as informações
loadProfileInfo();


	
	
	
</script>

</body>
<style>
    .voltar-topo {
        position: fixed;
        top: 20px;
        left: 20px;
        display: inline-block;
        background-color: rgb(245, 245, 245);
        color: black;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        cursor: pointer;
        z-index: 999;
        }
        
        .voltar-topo i {
        margin-right: 0;
        }
        
        .voltar-topo:hover {
        background-color: #0056b3;
        }
    </style>
</html>