<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=width-device, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css" />
<title>Connect Mentor</title>
</head>
	
<body>
	
	<p>CADASTRO ALUNO</p>
	
	<form method="post" action="/inserirMentorados">
	<label>Nome:</label>
	<input type="text" name="nome" id="nome"><br>
	<label>CPF: </label>
	<input type="checkbox" name="cpf" id="cpf"><br>
	<label>Gênero </label>
	<input type="checkbox" name="genero" id="genero"><br>
	<label>Data de Nascimento: </label>
	<input type="date" name="dataNasc" id="dataNasc"><br>
	<label>Senha:  </label>
	<input type="password" name="senha" id="senha"><br>
	<label>Email: </label>
	<input type="email" name="genero" id="genero"><br>
	<label>Telefone: </label>
	<input type="text" name="telefone" id="telefone"><br>
	<label>Biografia: </label> </label>
	<input type="text" name="biografia" id="biografia"><br>
	<label>Certificado:   </label>
	<input type="file" name="certificado" id="certificado"><br>
	<label>Foto:   </label>
	<input type="file" name="foto" id="foto"><br>
	<button type="submit">Enviar</button>
	
	
	
	</form>
	
	
</body>
	
	
	
</html>