<!DOCTYPE html>
<html lang="en">
<head>
	
	
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Sucesso</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
            padding: 50px;
        }
        h1 {
            color: #009900;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>


<body>
	
	<a href="/index" class="voltar-topo">
    <i class="fas fa-home"></i>
</a>

    <h1>Cadastro realizado com sucesso!</h1>
    <p>Seu cadastro foi processado com êxito.</p>
    <!-- Você pode adicionar mais informações ou formatação aqui conforme necessário -->
</body>
</html>
