<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste perfil mentorado</title>

</head>
<body>
    <form method="post" action="/mentorado/inserirPretensoes">
		
		<input type="text" name="idMentorado">
		
		<label>Desenvolvimento WEB</label>
		<input type="checkbox" name="idPretensao" value="1">
		
		<label>Data Science</label>
		<input type="checkbox" name="idPretensao" value="2">
		
		<label>Cloud Computing</label>
		<input type="checkbox" name="idPretensao" value="3">
		
		<label>Redes</label>
		<input type="checkbox" name="idPretensao" value="4">
		
		<input type="submit" value="enviar">
		
		
		
		
	</form>
		
</html>
